.star {
  display: inline-block;
  margin-left: 0.5rem;
  transform: scale(1);
}
.starEnter {
  // opacity: 0.01;
  transform: translateX(-100%);
}
.starEnterActive {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease;
}
.starExit {
  opacity: 1;
  transform: scale(1);
}
.starExitActive {
  opacity: 1;
  transform: translateX(100%);
  // transform: scale(1);
  transition: all 300ms ease;
}

.appWrapperContent {
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 50px;
  width: 100%;
  max-width: 640px;
  margin: auto;
}
