.login-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  .login-section {
    margin: 0.25rem 0.15rem;
    .registry-wrap {
      text-align: end;
      color: rgba(0, 0, 0, 0.4);
      .fast-registry-txt {
        color: #e5463a;
      }
    }
  }
}
