.am-checkbox.am-checkbox-checked .am-checkbox-inner {
  border-color: #f44336 !important;
  background: #f44336 !important;
}

.am-radio.am-radio-checked .am-radio-inner:after {
  border-color: #e91e63 !important;
}
