.goods-detail-wrapper {
  max-width: 640px;
  margin: auto;
  padding-bottom: 100px;
  overflow: hidden;
  .am-wingblank {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.goods-stack-wrapper {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: #f7f7f7;
}
.goods-wrapper {
  max-width: 640px;
  margin: auto;
  overflow: hidden;
  .am-wingblank {
    margin-top: 20px;
  }
}
.buy-comments-area {
}
.m1 {
  padding: 0 0.1rem;
}
