.myheader-wrap {
  // position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  header {
    max-width: 640px;
    margin: auto;
  }

  .am-navbar-left,
  .am-navbar-title,
  .am-navbar-right {
    flex: none !important;
  }
  .am-navbar-title {
    flex: 1 !important;
  }
}
