.cart-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.41);
  z-index: 99;
  .cart-modal-main {
    position: absolute;
    bottom: 0;
    width: 100%;
    .header {
      display: flex;
      position: relative;
      height: 1.48rem;
      padding-left: 0.1rem;
      color: #333;
      background-color: #fff;
      .pop-img {
        width: 90px;
        height: 90px;
        img {
          position: absolute;
          left: 10px;
          top: -20px;
          border-radius: 2px;
          width: 90px;
          height: 90px;
        }
      }
      .header-content {
        margin-left: 30px;
        p {
          margin: 0 !important;
        }
        .price {
          color: #e4393c;
          font-size: 10px;
          em {
            font-size: 16px;
          }
        }
        .sku-choose {
          font-size: 12px;
        }
        .sku-choose-value {
          margin-left: 6px;
          color: #333;
        }
      }
      .close {
        position: absolute;
        top: 0;
        right: 0;
        width: 26px;
        touch-action: none;
        z-index: 6;
      }
    }
    .body {
      // height: 4rem;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      background-color: #fff;
      .sku-color {
        height: 4rem;
      }
    }
    .sure-btn {
      display: flex;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 0.31rem;
      color: #fff;
      background-color: #e4393c;
      .btn {
        flex: 1;
        // height: 50px;
        // line-height: 50px;
        color: #fff;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
      }
      .add-cart-btn {
        background: linear-gradient(138deg, #ffa600, #ffb000 77%, #ffbc00);
      }
      .buy-now-btn {
        background: linear-gradient(-41deg, #ff4f18, #ff2000 24%, #f10000);
      }
    }
  }
}
