.shopping-address-detail-page {
  .footer-btns {
    margin-top: 10px;
    padding: 0 15px;
  }
  .am-list-item .am-list-line .am-list-extra {
    flex-basis: 67%;
    text-align: left;
  }
  .addres-tag {
    .am-list-content {
      flex: none !important;
    }
    .am-list-extra {
      flex: 1 !important;
      margin-left: 10px !important;
    }
  }
  .tag-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .tag-item {
      padding: 1px 10px;
      font-size: 14px;
      border: 1px solid #ddd;
      border-radius: 3px;
      color: #999;
    }
    .tag-item-active {
      color: #6a77b6;
      border: 1px solid #6a77b6;
    }
  }
}
